.emptyCell {
    width: 95%;
    height: 16%;
    border-radius: 50%;
    background-color: #181a18;
    margin-top: 1%;
}

.redCell {
    width: 95%;
    height: 16%;
    border-radius: 50%;
    background-color: darkred;
    margin-top: 1%;
}

.blueCell {
    width: 95%;
    height: 16%;
    border-radius: 50%;
    background-color: navy;
    margin-top: 1%;
}