.gameContainer {
    width: 100%;
    height: 100%;
    text-align: center;
}

.returnButton {
    float:right;
    color: bisque;
    background-color: #383838;
    border-color: bisque;
    width: 15%;
    height: 75%;
    font-family: serif;
    font-size: 100%;
}