.challengesListBox {
    width: 60%;
    display: inline-block;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
    height: 80%;
    overflow-y: auto;
    overflow-x: hidden;

}

.challengesListContainer {
    width: 50%;
    float: right;
    text-align: center;
    height: 100%;
}

.challengesListTitle {
    width: 60%;
    display: inline-block;
    height: 5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: bisque;
    font-size: 110%;
}