.beginButton {
    padding: 2%;
    color: bisque;
    background-color: #383838;
    border-color: bisque;
    width: 35%;
    font-family: serif;
    font-size: 120%;
}

.inputContainer {
    padding: 2vh;
}

.inputBox {
    text-align: center;
    display: inline-block;
    padding: 1%;
    font-size: 20px
}

.displayName {
    height: 190%;
    font-size: 150%;
    color: bisque;
    text-align: center;
    font-family: serif;
}

.loginContainer {
    display: inline-block;
    width: 45vh;
    text-align: center;
}