.beginButton {
    padding: 1vh;
    color: burlywood;
    background-color: #383838;
    border-color: burlywood;
    width: 14vh;
    font-family: serif;
    font-size: 3vh;
}

.inputContainer {
    padding: 2vh;
}

.inputBox {
    text-align: center;
    display: inline-block;
    padding: 5px;
    font-size: 20px
}

.displayName {
    height: 5vh;
    font-size: 4vh;
    color: bisque;
    text-align: center;
    font-family: serif;
}

.loginContainer {
    display: inline-block;
    width: 45vh;
    text-align: center;
}